.vaccinatedContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.vaccinated {
  display:inline-block;
  color: var(--cards-vaccinated-color);
  background-color: var(--cards-vaccinated-background-color);
  border-radius: 5px;
  padding: 4px;
}

