.cards {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

:root {
  --default-hover-color: #ededf8;
}

.card-item {
  padding: 40px 60px;
  border-radius: 8px;
}

.card-item:hover {
  background-color: var(--default-hover-color);
  transition: 0.6s;
}

.card-item h5, h4, h3{
  display: flex;
  justify-content: center;
}

.fa {
  padding-left: 5px;
  padding-top: 2px;
}

/*Color Schema for Primary Cards*/
.Confirmed h3,.Confirmed h4 {
  color: rgba(255, 7, 57, 0.87);
}
.Confirmed h5 {
  color: rgba(255, 7, 57, 0.562);
}
.Confirmed:hover {
  background-color: rgba(255, 7, 58, 0.125);
}

.Active h3,.Active h4 {
  color: rgba(0, 123, 255, 0.815);
}
.Active:hover {
  background-color: rgba(0, 123, 255, 0.125);
}

.Recovered h3, .Recovered h4{
  color: rgba(40, 167, 70, 0.979) ;
}
.Recovered h5{
  color: rgba(40, 167, 70, 0.623) ;
}
.Recovered:hover {
  background-color: rgba(40, 167, 69, 0.125) ;
}

.Deceased h3, .Deceased h4 {
  color: rgba(108, 117, 125, 0.863);
}
.Deceased h5 {
  color: rgba(108, 117, 125, 0.514);
}
.Deceased:hover {
  background-color: rgba(108, 117, 125, 0.125);
}



.vaccinatedContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.vaccinated {
  display:inline-block;
  color: #ff80b3;
  background-color: rgba(219,85,129,.12549019607843137);
  border-radius: 5px;
  padding: 4px;
}

