.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.covid19-logo {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 20px;
  color: #9966ff;
}

.navbar-utils {
  display: flex;
}

.navbar-container i{
  padding: 20px;
  font-size: 30px;
}

.navbar-container i:hover, .covid19-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.3s;
}

.fa-moon {
  color: #8c1aff;
}

.fa-sun {
  color: #ffbc05;
}

.hide {
  display: none;
}
