.fa-bell {
  color: #3399ff;
}

.notification{
  font-family:Arial, sans-serif;
  position:absolute;
  top: 65px; 
  right: 4%;
  width: 25rem;
  height: 60vh;
  border-radius: 8px;
  background-color: #f3f4f4;
  box-shadow:  2px 8px 6px rgb(0 0 0 / 30%);
  overflow-x: hidden;
  overflow-y: scroll;
}

.notification::-webkit-scrollbar { 
  width: 4px;
  background: transparent;
}

.notificationPanel {
  display: flex;
  flex-direction: column;
  background-color: #e6e7e7;
  padding-bottom: 4px;
  border-radius: 4px;
  margin: 10px;
}
.timestamp {
  font-size: 11px;
  padding-left: 2px;
  color: rgb(122, 121, 121);
  font-weight: 550;
}

.notificationUpdate {
  padding-left: 2px;
  font-size: 14px bold;
  color:#017bb4d0;
  
}

.hide {
  display: none;
}

