.loader-container {
  position: absolute;
  top: 40%;
  left: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--cards-confirmed-color);
  opacity: 0.6;
  position: relative;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: var(--cards-active-color);
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
