.homePrimaryTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.homePrimaryTitle h1{
  font-size: 28px;
  letter-spacing: 1px;
  color: var(--home-primary-title-color);
  background-color: var(--home-primary-title-background-color);
  border-radius: 10px;
  padding: 5px 10px;
}

@media only screen and (max-width: 1000px) {
  .homePrimaryTitle h1{
    font-size: 20px;
  }
}
